.red-color {
  color: #f46666;
}

html {
  background: #333;
  color: #fafafa;
}

.app {
  font-family: sans-serif;
  .main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 81%;
  }
}
