$image-size: 100px;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0.5rem;
  padding: 1rem;
  background: #eee;
  border-radius: 5px;
  max-width: 250px;

  .img-item {
    width: $image-size;
    height: $image-size;
  }

  .note {
    font-size: 0.7rem;
  }
}
